.ProseMirror-block-cursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-block-cursor:after {
  content: "";
  display: block;
  position: absolute;
  /*
  Depending on the margins you have between your block elements,
  you may need to adjust this to make the cursor appear near the
  middle of the margin -- at 0px it'll end up directly above the
  element below it, so -0.5 * margin should look about right.
  */
  top: -0.5em;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-block-cursor {
  display: block;
}
